.App {
  text-align: center;
  display: grid;
  grid-template-areas: 
    "header header"
    "left right"
    "footer footer";
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto 1fr auto; 
  gap: 10px; 
  margin: 10px; 
}

.Header {
  grid-area: header;
  height: 100px;
  overflow: hidden;
}

.LeftColumn {
  grid-area: left;
  width: 80%;
}

.RightColumn {
  grid-area: right; 
  width: 80%;
}

.Footer {
  grid-area: footer;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Header, .LeftColumn, .RightColumn, .Footer {
  padding: 50px;
  border: 1px solid #0d0b0b;
}

.cat {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  pointer-events: none;
} 

.cat-party{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
